{# <link rel="stylesheet" href="{{ base_path ~ directory }}/css/style.css"> #}
<article class="product-single">
  <div class="product-container" style = "display: flex; margin-left:auto">
    <div class="product-image" style="
    margin-left: 200px;
">
      {% if content.field_product_image %}
        {{ content.field_product_image }}
      {% endif %}
    </div>

    <div class="product-details" style=" margin-left: 100px; margin-top: 200px;">
     <h1 class="product-title" style="margin-bottom: 10px;">{{ content.field_product_title }}</h1>

            {% if content.field_product_descriptions %}
            <div class="product-intro" style="margin-bottom: 10px;">
                {{ content.field_product_descriptions }}
            </div>
            {% endif %}

            {% if content.field_product_price %}
            <div class="product-price" style="margin-bottom: 10px; display:flex;">
                <strong style="margin-right: 10px;">Price:</strong> {{ content.field_product_price }}
            </div>
            {% endif %}


      <div class="product-actions">
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</article>
